<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="dbConnString" value="Server=tcp:ak-kanban.database.windows.net,1433;Initial Catalog=AK_KANBAN;Persist Security Info=False;User ID=AlexKatona;Password=1dA*U9F1jwo%Npph;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"/>
  </appSettings>
  
</configuration>